.MainContainer{
  background-color: #edddd4;
  width: 800px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #772E25;
  border-radius: 20px;
  padding: 1em;
  
}

.MainJobContainer{
  background-color: white;
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
input[type=submit]{
  width: 100px;
  height: 30px;
  color: white;
  background-color: #197278;
  border: none;
  border-radius:15px;
  cursor: pointer;
  transition-duration: .6s;
  
}
input[type=submit]:hover{
  color: black;
  background-color: #edddd4;
  border: 2px solid #C44536 ;
}

button,
[type="prev-next"]{
  background-color: white;
  border: none;
  cursor: pointer;
}

