/* * {
  box-sizing: content-box;
  width: 100%;
} */
/* .container{
background-color: #edddd4;
width: 800px;
height: 700px;
margin-left: auto;
margin-right: auto;
border: 3px solid #772E25;
border-radius: 20px;
margin: 20em;
padding: 2em;
} */
/* Header */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  gap: 20px;
  margin: 10% 0 0 0 ;
}

.jobTitleContainer{
font-size: 48px;
margin-bottom: 10px;
 text-align: center;
 padding: 10px;
 position: relative;
 width: 950px;
 height: 133px;
 left: -220px;
 top: -100px;
 transform: scale(0.5);
 background: #C4C4C4;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 102px;
}
.jobTitleText{
border: none;
justify-content: center;
display: inline-block;
text-align: left;
border-radius: 10px;
width: 90%;
height: 113px;
background: #C4C4C4;
}
.salaryContainer{
  font-size: 48px;
  margin-bottom: 10px;
 text-align: center;
 padding: 10px;
 position: relative;
 width: 400px;
 height: 133px;
 left: -1100px;
 top: 0px;
 transform: scale(0.5);
 background: #C4C4C4;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
border-radius: 102px;
}
.salaryText{
  border: none;
  justify-content: center;
  display: inline-block;
  text-align: left;
  border-radius: 10px;
  width: 90%;
  height: 113px;
  background: #C4C4C4;
}

.minYearofExpContainer{
  font-size: 48px;
 margin-bottom: 10px;
 text-align: center;
 padding: 10px;
 position: relative;
 width: 400px;
 height: 133px;
 left: -1798px;
 top: 0px;
 transform: scale(0.5);
 background: #C4C4C4;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
border-radius: 102px;
}
.minYearofExpText{
  border: none;
  justify-content: center;
  display: inline-block;
  text-align: left;
  border-radius: 10px;
  width: 90%;
  height: 113px;
  background: #C4C4C4;
}
.tagSearchBarContainer{
  font-size: 48px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 950px;
  height: 300px;
  left: -1240px;
  top: -770px;
  transform: scale(0.5);
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
 border-radius: 102px;
 }
 .tagSearchBarText{
   border: none;
   justify-content: center;
   display: inline-block;
   text-align: left;
   border-radius: 10px;
   width: 90%;
   height: 280px;
   background: #C4C4C4;
 }
.DescriptionContainer{
  font-size: 48px;
 margin-bottom: 10px;
 text-align: center;
 padding: 10px;
 position: relative;
 width: 1000px;
 height: 800px;
 left: 300px;
 top: -1100px;
 transform: scale(0.5);
 background: #C4C4C4;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
border-radius: 102px;
}
.DescriptionText{
  border: none;
  justify-content: center;
  display: inline-block;
  text-align: left;
  border-radius: 10px;
  width: 90%;
  height: 780px;
  background: #C4C4C4;
}
.createButton{
  position: relative;
  width: 454px;
  height: 142px;
  left: -1700px;
  top: -500px;
  transform: scale(0.5);
  background: #197278;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
 border-radius: 102px;
}