/* * {
  box-sizing: content-box;
  width: 100%;
} */

.h2{
background-color: #187278;
position: relative;
max-width: 1020px;
max-height: 500px;
margin-left: 10px;
top: 30px;
margin-top:20px;
border: 3px solid #0C3E42;
border-radius: 20px;
margin: 20px;
padding: 5px;
overflow: hidden;
}

.p{
  color: #ffffff;
  position: relative;
  font-size: xx-large;
  left: -40px;
}
.labelText1{
  position: relative;
  display: inline-block;
  font-size: medium /*55%*/;
  margin: 1%;
}
.labelText2{
  position: relative;
  display: inline-block;
  font-size: medium /*45%*/;
  margin: 1%;
  justify-content: left;
}
.labelText3{
  position: relative;
  display: inline-block;
  font-size: medium /*100%*/;
  margin: 1%;
  justify-content: left;
}
/* Header */
.jobTitleContainer{
font-size: medium /*80%*/;
padding: 5px;
position: relative;
max-width: 42.1%;/**/
max-height: 13.4%;/**/
left: 0px;
top: 0px;
background: #ffffff;
margin: 15px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
border-radius: 102px;
}
.jobTitleText{
border: none;
justify-content: center;
display: inline-block;
text-align: center;
border-radius: 0px;
width: 76%;
height: 90%;
background: #ffffff;
}

.salaryContainer{
font-size: medium /*70%*/;
padding: 5px;
position: relative;
max-width: 19.1%;/**/
max-height: 13.4%;/**/
margin: 15px;
left: 0px;
top: 0px;
background: #ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
border-radius: 102px;
}
.salaryText{
  border: none;
  justify-content: center;
  display: inline-block;
  text-align: center;
  border-radius: 0px;
  max-width: 60%;
  height: 90%;
  background: #ffffff;
}

.minYearofExpContainer{
  font-size: medium /*70%*/;
  padding: 5px;
  position:relative;
  max-width: 19.1%;/**/
  max-height: 13.4%;/**/
  left: 22.9%;
  top: -54px;
  margin: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 102px;
}
.minYearofExpText{
  border: none;
  justify-content: center;
  display: inline-block;
  text-align: center;
  border-radius: 0px;
  max-width: 62%;
  height: 90%;
  background: #ffffff;
  border: transparent;
}
.tagSearchBarContainer{
  font-size: medium /*40%*/;
  margin-bottom: 10px;
  padding:5px;
  position: relative;
  max-width: 42.1%;
  max-height: 50%;
  left: 0px;
  top: -50px;
  margin: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
 border-radius: 52px;
 }

 .tagSearchBarText{
   border: none;
   justify-content: center;
   display: inline-block;
   text-align: left;
   border-radius: 0px;
   margin: 3px;
   width: 45%;
   height: 22px;
   resize: none;
   background: #ffffff;
 }
 .tagStoreContainer{
   border: none;
   justify-content: center;
   text-align: left;
   border-radius: 0px;
   width: 80%;
   height: 170px;
   resize: none;
   background:transparent;
 }

.DescriptionContainer{
  margin: 15px;
  font-size: medium /*70%*/;
  text-align: center;
  padding: 8px;
  position: relative;
  max-width: 49.12%;
  height: 345px;
  left: 48.04%;
  top: -385px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 52px;
}
.DescriptionText{
  font-size-adjust: inherit;
  resize: none;
  border: none;
  justify-content: center;
  display: inline-block;
  text-align: left;
  border-radius: 0px;
  width: 90%;
  height: 85%;
  background: #ffffff;
  overflow: hidden;
}
.createButton{
  color: black;
  font-size: large /*70%*/;
  position:relative;
  width: 20%;
  height: 10%;
  top: -380px;
  left: -4%;
  padding: 10px 5px 10px 5px;
  background: rgb(182, 236, 238);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  border-radius: 102px;
}
.disabledcreateButton{
  color: white;
  font-size: large /*70%*/;
  position:relative;
  width: 20%;
  height: 10%;
  top: -380px;
  left: -4%;
  padding: 10px 5px 10px 5px;
  background: #0C3E42;
  border: 3px solid #0C3E42;
  border-radius: 102px;
}
.addButton{
  font-size: 12px;
  position:relative;
  width: 18%;
  height: 10%;
  background: #197278;
  border-radius: 102px;
}
.disabledaddButton{
  color:#0C3E42;
  font-size: medium /*12px*/;
  position:relative;
  width: 18%;
  height: 10%;
  background: #ffffff;
  border: solid #0C3E42;
  border-radius: 102px;
}
.tagHolder{
  display: inline-block;
  color:#0C3E42;
  text-align: center;
  font-size: medium /*100%*/;
  max-width: 100%;
  padding-top: 1px;
  height: 15%;
  border-radius:102px;
  border: solid #0C3E42;
  background: #edddd4;
}
.cancelButton{
  font-size: medium /*100%*/;
  border: none;
  background:transparent;
  max-height: 100%;
  max-width: 100%;
}
