
* {
  box-sizing: border-box;
}
.container {
  margin: auto;
  justify-content: center;
  width: 350px;
  height: 400px;
  background: #EDDDD4;
  border: 3px solid #C44536;
  border-radius: 10%;
  text-align: center;
  margin-top: 150px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
h1{
  color: #893026;
}
.credentials{
  text-align: center;
  font-size: x-small;
  padding: 10px;  
}
.form-control{
  border: none;
  text-align: center;
  margin-top: 5px;
  border-radius: 20px;
  padding: 8px 60px;
  
}
.login-button{
  background-color: #C44536;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 8px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transform: translateY(70px)
}

.forgot-password{
  transform: translate(20%,-250%);
  font-size: small;
}
.photo{
  display: block;
  transform: translate(225%,250%);
}