.refBoxCont{
    background-color: #ffffff;
    margin: 1em;
    padding: 1em;
    border-radius: 0 0 15px 15px;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    box-shadow: 3px 3px 3px #aaaaaa;

}