.LogInPopUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:30vh;
    background-color: rgba(0,0,0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
}

.LogInPopUp-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color:darkorange;
}

 .LogInPopUp-inner.close-botton{
      position: absolute;
      top: 16px;
      right: 16px;
      border: none;
 }